@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1> Food Service </h1>
</div>
<div>
    <h3> Hello @ViewBag.Message !</h3>
    <h3> Your userId: @ViewBag.Message2 </h3>
    <h3> Return userId: @ViewBag.Message2 </h3>
</div>


